<div ng-controller = "pCtrl" class = "row">

  <div class = "col-md-3">
    <h3>{{vm.onePost.title}}</h3>
    <p><a ng-href = "/{{vm.onePost.origPosterName}}">{{vm.onePost.origPosterName}}</a> on {{vm.onePost.timestamps.createdAt}}</p>
    <p>{{vm.onePost.postText}}</p>
  </div>

  <div class = "col-md-5">
    <img ng-src = "{{vm.onePost.imageUrl}}">
  </div>

  <div class = "col-md-4" id = "pCommentSection">

    <div class = "row well well-md">
      <h4>You are logged in as <em class = "lssHClass"><a ng-href = "/{{vm.loggedInUser.username}}">{{vm.loggedInUser.username}}</em></a></h4>
      <a ng-href = "/{{vm.onePost.origPosterName}}/{{vm.onePost.title}}/addComment" class = "lssSecondaryBtn">Speak!</a>
    </div>

    <div class = "row well well-md">
      <h3>Comments</h3>
      <div ng-repeat = "comment in vm.onePost.comments">
        <p>{{comment.commentText}}</p>
        <p>Posted by <a ng-href = "{{comment.commenterName}}">{{comment.commenterName}}</a> on {{comment.timestamps.createdAt}}</p>
      </div>
    </div>

  </div>

</div>
